.file-input {
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .file-label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    align-items: center;
    font-family: 'Raleway', serif;
  }

  input[type="file"] + .file-label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
  }

  input[type="file"]:focus + .file-label,
  input[type="file"] + .file-label:hover {
    background-color: red;
  }
}