.header-section {
  background-image: url("header-section-background.png");
  background-position-x: -120px;
  background-repeat: no-repeat;
  background-size: cover;

  .header-content {
    margin: auto;
    margin-top: 17%;
    padding-bottom: 45px;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .content-wrapper {
      margin-bottom: 30%;
    }
  }
}